.app {
  min-height: 100vh;
  color: #1f1b16;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 600px;
}

.landing-content {
  text-align: center;
}

.landing-title {
  font-family: 'Gowun Dodum', serif;
  font-weight: 400;
  font-size: 24px;
}
