:root {
  font-family: 'Noto Serif KR', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    system-ui, serif;
  line-height: 1.6;
  font-weight: 400;
  color: #1f1b16;
  /* background-color: #f8f5ee; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
}
